networks:
  my-network:
    driver: bridge

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - my-network
    restart: unless-stopped

  database:
    image: postgres:16-alpine
    container_name: database
    ports:
      - 1111:5432
    env_file:
      - .env
    volumes:
      - database_data:/var/lib/postgresql/data
    networks:
      - my-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - my-network
    restart: unless-stopped

  evolution_api:
    image: evoapicloud/evolution-api:latest
    container_name: evolution_api
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - my-network
    restart: unless-stopped
    depends_on:
      - database
      - redis

volumes:
  n8n_data:
  redis_data:
  database_data:
  evolution_instances: